@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,900;1,400&display=swap');
@font-face {
    font-family: 'Fighting Spirit'; 
    src: url('../fonts/font.ttf') format('truetype'); 
}
body {
    margin: 0;
    overflow: hidden;
    position: relative;
    background-image:  url("../images/bg.png");
    background-repeat: no-repeat; 
    color: white;

}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
.header-text {
    font-family: 'Fighting Spirit', sans-serif; 
    font-size: 4rem; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 1px #e26cff, 2px 2px 1px #000000, 3px 3px 1px #000000;
    animation: entryGlowAnimation 1.5s;
}
@keyframes entryGlowAnimation {
    0% {
        text-shadow: 0 0 0 rgba(226, 108, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 10px rgba(226, 108, 255, 0.8), 0 0 15px rgba(226, 108, 255, 0.6), 0 0 20px rgba(226, 108, 255, 0.4); 

    }
    100% {
        text-shadow: 0 0 0 rgba(226, 108, 255, 0.5);

    }
}
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
}
.cta-container {
    text-align: center; 
}
.btn-container {
    display: flex; 
    justify-content: center;
  }
.btn {
    margin: 10px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    scale: 0.9;
    min-width: 20px; 
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
}
.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-discord {
    background-color: #7289DA; 
    border-color: #7289DA;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}
.btn-discord:hover {
    background-color: #5b6eae;
    border-color: #5b6eae;
}
.btn-twitter {
    background-color: #0091ff; 
    border-color: #000000;
    color: white;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
}
.btn-twitter:hover {
    background-color: #333333;
    border-color: #333333;
}
.btn-social .btn-text {
    display: none;
}
.btn-social:hover {
    width: auto;
}
.btn-social:hover .btn-text {
    display: inline-block;
    margin-left: 5px; 
}
.btn-info {
    background-color: #ff7300;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-info:hover {
    background-color: #0056b3;
}
.logo{
    width: 250px; 
    height: 250px;
}
#message-box {
    display: block;
    background-color: #a953be;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    height: 10px; 
    box-sizing: border-box; 
    align-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif; 
    position: relative;
}
.description-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.carousel {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 179, 245, 0.3);
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    max-height: 80vh; 
    width: 450px;
    align-content: center;
}
.carousel-slide {
    display: none;
}
.carousel-slide:first-child {
    display: block;
}
.carousel-slide img {
    max-width: 100%;
    height: auto;
}
.carousel-slide:hover .carousel-image {
    transform: scale(2);
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    color: black;
    scale: 1.5;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}
.prev {
    left: -10px;
}
.next {
    right: -10px;
}
.prev:hover, .next:hover{
    background-color:rgb(224, 143, 244);
    scale: 1.1;
}
.about{
    text-decoration: underline;
}
.glowing-dot {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    animation: moveDot 2s linear infinite;
  }
#typing-text.completed {
    animation: glowAnimation 1s infinite alternate; 
}

@keyframes glowAnimation {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 255, 0.5); 
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 0, 255, 0.8), 0 0 30px rgba(255, 0, 255, 0.6), 0 0 40px rgba(255, 0, 255, 0.4); 
    }
}
