@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,900;1,400&display=swap');
@font-face {
    font-family: 'Fighting Spirit'; 
    src: url('../fonts/font.ttf') format('truetype'); 
}
body {
    margin: 0;
    overflow: hidden;
    position: relative;
    background-image:  url("../images/bg.png");
    background-repeat: no-repeat; 
    color: white;

}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
