<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalyZer</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/xxgladxx/analyzer-web/main/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evSX huddled7su3Wr/jp5kVKdW1jPwz7qqV46uLSHAWHzjqU10TI4/sK1pQpXazU7IwAUXvKUdjMYzVcCTzxjOYIfRW7BPhzQvStD+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>
</html>
